:root {
    --cor0: #020416;
    --cor1: #010A26;
    --cor2: #0d9fff;
    --cor3: #00484f;
    --cor4: #1c004f;
    --cor5: #ffffff;
}

body{
    width: 100%;
    background-image: linear-gradient(to bottom ,#023E62 48.62%, #010A26 96.01%  , #024872 100% );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#form {
    padding-top: 80px;
    padding-bottom: 80px;
}

#footer01 {
    position: absolute;
    bottom: 0;
    width: 100%;
}