@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap');

:root{
    --cor0: #020416;
    --cor1: #010a26;
    --cor2: #0d9fff;
    --cor3: #00484f;
    --cor4: #1c004f;
    --cor5: #ffffff;

    --fonte-padrao: 'Poppins';
    --fonte-destacamento: Tahoma ,sans-serif;
    --fonte-titulo: 'Salsa';
    --fonte-titulo2: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
}

/*Main (corpo)-------------------------------------------------------------------------------------------------------------------------------------*/

#main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

/*divisão das Secções----------------------------------------------------------------------------------------------------------------------------*/

.divisao{
    display: flex;
    align-items: center;
    margin: 35px 0;

    font-family: var(--fonte-titulo2);
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.divisao p{
    padding-left: 25px;
    padding-right: 25px;
}

.linha{
    flex: 1;
    border-top: 1px solid white;
    height: 0;
    margin: 0 5px;
}

/*Secção Principais duvidas article----------------------------------------------------------------------------------------------------------------------*/

aside{
    color: white;
}

aside h2{
    text-align: left;
    padding-bottom: 10px;
}

aside p{
    font-family: var(--fonte-padrao);
    font-size: 16px;
    text-align: justify;
    padding-bottom: 20px;
}

/*aside watsap----------------------------------------------------------------------------------------------------------------------------------------------------*/

#suporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

#suporte_links {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#suporte_links a {
    margin: auto;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    color: white;
}

#suporte img{
    width: 80px;
    transition-duration: 0.8s;
}

#suporte_links a:hover img {
    transform: scale(1.2);
}


@media(max-width: 900px){
    article aside{
        font-size: 16px;
    }

    article aside p{
        font-size: 14px;
    }

}

