:root {
    --cor0: #020416;
    --cor1: #010A26;
    --cor2: #0d9fff;
    --cor3: #00484f;
    --cor4: #1c004f;
    --cor5: #ffffff;
}

.vhtc{
    width: 100%;
    background-color: var(--cor1);
    background-image: url('../../imagens/fundos/Rectangle\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#form {
    padding-top: 80px;
    padding-bottom: 80px;
}

#footer01 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media(max-width: 900px){
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

    #footer01{
        position: relative;
    }


}